keycloak:
  url: "http://<keycloak-host>:8080/realms/<your-realm-name>"
  client_id: "<client-id>"
  client_secret: "<client-secret>"

flask:
  debug: true
  port: 9090
  host: "0.0.0.0"
  secret_key: null
  base_url: "http://<app-host>:9090"

oauth:
  scope: "openid profile email"

resource_server:
  debug: true
  port: 9091
  host: "0.0.0.0"
  # This could be docker compose service if running with compose
  url: "http://<resource_server_host>:9091"
